{% load static %}
{% load user_filters %}
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Grammar</strong>
          <h3 class="mb-0">{{ post_e.title }}</h3>
          <div class="mb-1 text-muted">{{ post_e.pub_date|date:'d M' }}</div>
          <p class="card-text mb-auto">{{ post_e.author.get_full_name }}</p>
          <a href="{% url 'add_comment' post_e.author.username post_e.pk %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img width="200" height="250" src="{% static 'img/application.svg' %}">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Reading</strong>
          <h3 class="mb-0">{{ post_r.title }}</h3>
          <div class="mb-1 text-muted">{{ post_r.pub_date|date:'d M' }}</div>
          <p class="card-text mb-auto">{{ post_r.author.get_full_name }}</p>
          <a href="{% url 'add_comment' post_r.author.username post_r.pk %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img width="200" height="250" src="{% static 'img/application.svg' %}">
        </div>
      </div>
    </div>
  </div>
</div>