{% if user.is_authenticated %} 
<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if index %}active{% endif %}" href="{% url 'index' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'news' %}">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if index %}active{% endif %}" href="{% url 'group' 'g1' %}">Раздел 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if index %}active{% endif %}" href="{% url 'group' 'g2' %}">Раздел 4</a>
        </li>
    </ul>
</div>
{% endif %}
