<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>{% block title %}The Last Social Media You'll Ever Need{% endblock %} | Leva</title>
        <!-- Загрузка статики -->
        {% load static %}
        <link rel='stylesheet' href='{% static 'bootstrap/dist/css/bootstrap.min.css' %}'>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" >
        <script src='{% static 'jquery/dist/jquery.min.js' %}'></script>
        <script src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
    </head>
    <body>
        <main>
            <div class='container'>
                {% include 'includes/nav.html' %}
                {% block text %}{% endblock %}
                {% block content %}
                <!-- Содержимое страницы -->
                {% endblock content %}
            </div>
        </main>
        {% include 'includes/footer.html' %}
    </body>
    <script>  
        var postList = document.querySelectorAll(".post-text")
        function pClasses() {
            for (post of postList) {
                var pList = post.querySelectorAll("p")
                var imgList = post.querySelectorAll("img")
                // console.log(pList, imgList) 
                for (p of pList) {
                    p.classList.add("h1")
                }
                for (img of imgList) {
                    img.classList.add("img-thumbnail")
                }
            }
        }
        pClasses()
    </script>
</html>