{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block text %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-info">
  <div class="col-md-6 px-0" id='flag'>
    <h1 class="display-4 font-italic">Наша очень крутая школа бла бла бла</h1>
    <p class="lead my-3">Немного информации о школеееее</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Продолжить читать...</a></p>
  </div>
</div>
{% endblock %}

{% block content %}
    {% include 'includes/menu.html' %}
    {% include "includes/latest_posts.html" with post_e=latest_e  post_r=latest_r%}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            Latests posts
          </h3>
          {% load cache %} 
          {% cache 20 index_page %}  
            {% for post in page %}

            {% include 'includes/posts.html' with post=post %}

            {% endfor %}
          {% endcache %}

          {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
          {% endif %}
      </div>
    {% include "includes/aside.html" %}
    </main>

{% endblock %}
