{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block text %}
  {% include "includes/carousel.html" %}
{% endblock %}

{% block content %}
    {% include "includes/latest_posts.html" with post_e=latest_e  post_r=latest_r%}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            Latests posts
          </h3>
          {% load cache %} 
          {% cache 20 index_page %}  
            {% for post in page %}

            {% include 'includes/posts.html' with post=post %}

            {% endfor %}
          {% endcache %}

          {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
          {% endif %}
      </div>
    {% include "includes/aside.html" %}
    </main>

{% endblock %}
