{% extends 'base.html' %}
{% block title %}Профиль {{ author.username }} {% endblock %}
{% block text %}<h1>Посты {{ author.get_full_name }}</h1>{% endblock %}

{% block content %}

{% include 'includes/menu.html' %}
<main role="main" class="container">
    <div class="row">
        {% include 'includes/profile_info.html' %}

        <div class="col-md-9">
            {% for post in page %}

            {% include 'includes/posts.html' with post=post %}
                
            {% endfor %}
            <!-- Конец блока с отдельным постом -->

            <!-- Остальные посты -->

            <!-- Здесь постраничная навигация паджинатора -->
            {% if page.has_other_pages %}
                {% include "includes/paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </div>
</main>




{% endblock %}
